.myContainer{
	width: 100%;
	height: 100%;
	position: relative;
	background-image: url('/assets/img/table_border.png');
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	box-sizing: border-box;
	border: 10px solid rgba(0,0,0,0);
}
.myContainer .content{
	position: absolute;
	left: 4.4%;
	right: 4.4%;
	top: 4.84%;
	bottom: 6.18%;
	/*background-color: rgba(0,214,0,0.2);*/
}