<div class="login-sub">
  <div class="logo-top">
    <h2>园区人流量统计系统</h2>
    <img src="/assets/img/logo-line.png" />
  </div>
  <div class="big-circle">
    <!-- <div class="loginTop"><img src="" alt=""></div> -->
    <img class="imgTop" src="/assets/img/login-top.png" />
    <div class="loginDiv">
      <div class="login-info">
        <form  method="post" autocomplete="off" id="loginForm">
          <div class="form-group">
            <i class="icon user-icon"></i>
            <input type="text" name="username" id="username" placeholder="用户名" />
          </div>
          <div class="form-group">
            <i class="icon pwd-icon"></i>
            <input type="password" name="password" id="password" autocomplete="new-password" placeholder="密码" />
          </div>
          <!-- <div th:if="${param.error}">
            <p style="color:red;" class="text-danger">登录失败，账号或密码错误!</p>
          </div>
          <div th:if="${result}">
            <p style="text-align: center" class="text-success" th:text="${result}"></p>
          </div> -->
          <div style="text-align: center;">
            <button type="submit" style="font-weight: bold;">登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录</button>
          </div>
        </form>
      </div>
    </div>
    <img class="imgBottom" src="/assets/img/login-bottom.png" />
  </div>
  <div class="info-version">Copyright&copy;2016-2020 cbpm-xinda, All Rights Reserved 粤ICP备1400
  </div>
</div>
