.content{
  padding:30px;
  /*height:95%;*/
}
.item{
  border:1px solid #205f95;
  box-shadow:0 0 50px #205f95 inset;
  padding:10px;
}
#pie{
  width:35%;
  /*height:45%;*/
  height:400px;
  float:left;
  margin-bottom:20px;
  background:url("../../../../assets/img/border_tip.png") no-repeat;
  background-position:20px 17px;
}
#line{
  width:calc(65% - 20px);
  /*height:45%;*/
  height:400px;
  margin-left:20px;
  margin-bottom:20px;
  float:left;
  background:url("../../../../assets/img/border_tip.png") no-repeat;
  background-position:20px 17px;
}
#lines{
  width:35%;
  height:60%;
  height:455px;
  float:left;
  background:url("../../../../assets/img/border_tip.png") no-repeat;
  background-position:20px 17px;
  position:relative;
}
#lines ul{
  list-style:none;
  /*overflow-y: hidden;*/overflow:hidden;
  height:90%;
  width:100%;
  padding:0 10px;
}
#lines ul li{
  margin-bottom:10px;
  background:#042342;
  height:50%;
}
#bar{
  width:calc(65% - 20px);
  height:60%;
  height:455px;
  margin-left:20px;
  float:left;
  background:url("../../../../assets/img/border_tip.png") no-repeat;
  background-position:20px 17px;
}

/*滚动条样式*/
.scrollbar{
  height:85%;
  width:1px;
  background:#ccc;
  position:absolute;
  right:10px;
}
.scrollbar .scrollbutton{
  position:absolute;
  width: 10px;
  height:10px;
  border-radius:50%;
  background:bisque;
  transform: translateX(-50%);
  transition: all 0.3s;
}
.scrollbar .scrollbutton:hover{
  background:#0e70af;
  transform:translateX(-50%) scale(1.3) ;
}
