.myContainer{
    width: 63%;
    margin: 0 auto;
    height: 80%;
    margin-top: 3%;
	position: relative;
	background-image: url('/assets/img/form_border.png');
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	box-sizing: border-box;
	border: 10px solid rgba(0,0,0,0);
}
.myContainer .content{
	position: absolute;
	left: 25%;
	right: 25%;
	top: 20%;
	bottom: 20%;
	padding: 10px 20px;
}
.form-group{
	overflow: hidden;
}
.form-group label{
   font-size: 18px;
   color: #ffffff;
   font-weight: normal;
   margin-top: 4px;
}
.form-control{
  background: none;
  border: 1px solid #00a0e2;
  color: #ffffff;
  border-radius: 0;
  outline: none;
  font-size: 16px;
  letter-spacing: 4px;
}
select>option{
  background:#254568;
}
.bt{
  height: 35px;
  background: transparent;
  border: 1px solid #00a0e2;
  color: #ffffff;
  font-size: 15px;
  border-radius: 4px;
}
.bt:hover{
  box-shadow: 0 0 15px 2px rgba(36,211,255,0.8) inset;
}